<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Авторизация</title>
        <link
            rel="shortcut icon"
            href="/images/favicon.png"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="styles/authRegister.css" />
        <link rel="stylesheet" href="styles/style.css" />
    </head>
    <body>
        <%- include('particals/header', {auth:false}) %>
        <form method="post">
            <label for="login">Логин </label>
            <input
                required
                placeholder="login"
                name="login"
                id="login"
                type="text"
            />
            <label for="password">Пароль</label>
            <input
                required
                placeholder="b7Khr6#"
                name="password"
                id="password"
                type="password"
            />

            <% if(error){%>
            <label class="error"><%= error %></label>
            <% }%>

            <input id="submit" type="submit" value="Войти" />
            <div class="exist">
                <p>Нет аккаунта?&nbsp;</p>
                <a href="/register">Создать</a>
            </div>
        </form>
    </body>
</html>
