<header>
    <nav>
        <a href="/posts">POSTS</a>
        <a href="/users">USERS</a>
        <% if(!auth){ %>
        <a href="/register">REGISTRATION</a>
        <a href="/auth">AUTHENTICATION</a>
        <% } else{%>

        <a href="/posts/create">CREATE POST</a>

        <% } %>
    </nav>
</header>
