<header>
    <nav>
        <a href="/posts">ПОСТЫ</a>
        <a href="/users">ЮЗЕРЫ</a>
        <% if(!auth){ %>

        <a href="/auth">ВОЙТИ</a>
        <% } else{%>

        <a href="/posts/create">СОЗДАТЬ</a>
        <a href="/account">АККАУНТ</a>

        <% } %>
    </nav>
</header>
